<div class="row">

  <!-- FORM -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body p-4">

        <!-- Form -->
        <form #autorForm="ngForm" (ngSubmit)="addAutor(autorForm)">
          <!--  Id autor -->
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="autorService.selectedAutor._id">

          <div class="form-group">
            <div class="input-field col-s12">
              <label>Nombre :</label>
              <input type="text" name="nombre"  #name="ngModel" [(ngModel)]="autorService.selectedAutor.nombre"
                placeholder="Ingrese el nombre" class="form-control" required #nomValid="ngModel">
                <mat-error *ngIf="nomValid.invalid ">Este campo es requerido</mat-error>

            </div>
          </div>

          <div class="form-group">
            <label>Fecha de Nacimiento :</label>
            <input type="date" name="fechaNacimiento" #name="ngModel"
              [(ngModel)]="autorService.selectedAutor.fechaNacimiento" class="form-control" required pattern="\d{4}-\d{2}-\d{2}" #feValid="ngModel">
              <mat-error *ngIf="feValid.invalid "> Este campo es requerido</mat-error>
          </div>

          <div class="form-group">
            <label>Nacionalidad :</label>
            <input type="text" name="nacionalidad" #name="ngModel" [(ngModel)]="autorService.selectedAutor.nacionalidad"
              placeholder="Ingrese la nacionalidad" class="form-control" required #naValid="ngModel">
              <mat-error *ngIf="naValid.invalid ">Este campo es requerido</mat-error>
          </div>

          <button class="btn btn-primary mr-2" (click)="resetForm(autorForm)">Limpiar</button>
          <button class="btn btn-secondary" [disabled]="!autorForm.valid">Guardar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- TABLE -->
  <div class="col-md-7">
    <table class="table table-striped">
      <thead>
        <th>Nombre</th>
        <th>Fecha Nacimiento </th>
        <th>Nacionalidad</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let autor of autorService.autores">
          <td>{{ autor.nombre }}</td>
          <td>{{ autor.fechaNacimiento }}</td>
          <td>{{ autor.nacionalidad }}</td>

          <td>
            <a (click)="editAutor(autor)" class="btn btn-secondary btn-sm">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="deleteAutor(autor._id, autorForm)" class="btn btn-danger btn-sm">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>